@page
@using SailClubLibrary.Models
@model RazorBoatApp2026F.Pages.Members.CreateMemberModel
<h1>Create member</h1>

<form method="post" enctype="multipart/form-data">

    <div class="form-group">
        <label asp-for="@Model.NewMember.Id" class="control-label"></label>
        <input asp-for="@Model.NewMember.Id" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.NewMember.FirstName" class="control-label"></label>
        <input asp-for="@Model.NewMember.FirstName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.NewMember.SurName" class="control-label"></label>
        <input asp-for="@Model.NewMember.SurName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.NewMember.Mail" class="control-label"></label>
        <input asp-for="@Model.NewMember.Mail" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.NewMember.PhoneNumber" class="control-label"></label>
        <input asp-for="@Model.NewMember.PhoneNumber" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.NewMember.Address" class="control-label"></label>
        <input asp-for="@Model.NewMember.Address" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.NewMember.City" class="control-label"></label>
        <input asp-for="@Model.NewMember.City" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.NewMember.TheMemberRole" class="control-label"></label>
        <select asp-for="@Model.NewMember.TheMemberRole" asp-items="Html.GetEnumSelectList<MemberRole>()" class="form-control">
        </select>
    </div>

    <div class="form-group">
        <label asp-for="@Model.NewMember.TheMemberType" class="control-label"></label>
        <select asp-for="@Model.NewMember.TheMemberRole" asp-items="Html.GetEnumSelectList<MemberType>()" class="form-control">
        </select>
    </div>

  
    <div class="form-group">
        <input type="submit" value="Create a event" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-page="Index">Back to List</a>
</div>