@page
@model RazorBoatApp2026F.Pages.Members.IndexModel
@{
    ViewData["Title"] = "List Members";
}

<h1>List of members</h1>

<p>
    <a asp-page="CreateMember">Create a new member</a>
</p>

<form>
    search: <input type="text" asp-for="@Model.FilterCriteria" />
    <input type="submit" value="Filter" />
</form>


<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>FirstName</th>
            <th>SurName</th>
            <th>Mail</th>
            <th>Address</th>
            <th>City</th>
            <th>Phonenumber</th>
            <th>Role</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Members)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.FirstName</td>
                <td>@item.SurName</td>
                <td>@item.Mail</td>
                <td>@item.Address</td>
                <td>@item.City</td>
                <td>@item.PhoneNumber</td>
                <td>@item.TheMemberRole</td>
                <td>@item.TheMemberType</td>
                <td><a asp-page="UpdateMember" asp-route-phoneNumber="@item.PhoneNumber">Edit</a></td>
                <td><a asp-page="DeleteMember" asp-route-phoneNumber="@item.PhoneNumber">Delete</a></td>
            </tr>
        }
    </tbody>
</table>

