@page
@using SailClubLibrary.Models
@model RazorBoatApp2026F.Pages.Members.UpdateMemberModel
@{
    ViewData["Title"] = "Update Member";
}

<h1>Update Membert</h1>

//Lav form med input felter til at vise member  der skal opdateres

<form method="post">

    <input type="hidden" asp-for="@Model.MemberToUpdate.Id" />

    <div class="form-group">
        <label asp-for="@Model.MemberToUpdate.Id" class="control-label"></label>
        <input asp-for="@Model.MemberToUpdate.Id" class="form-control" />

    </div>

    <div class="form-group">
        <label asp-for="@Model.MemberToUpdate.FirstName" class="control-label"></label>
        <input asp-for="@Model.MemberToUpdate.FirstName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.MemberToUpdate.SurName" class="control-label"></label>
        <input asp-for="@Model.MemberToUpdate.SurName" class="form-control" />
    </div>

   
    <div class="form-group">
        <label asp-for="@Model.MemberToUpdate.Address" class="control-label"></label>
        <input asp-for="@Model.MemberToUpdate.Address" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.MemberToUpdate.City" class="control-label"></label>
        <input asp-for="@Model.MemberToUpdate.City" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.MemberToUpdate.Mail" class="control-label"></label>
        <input asp-for="@Model.MemberToUpdate.Mail" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.MemberToUpdate.PhoneNumber"  class="control-label"></label>
        <input asp-for="@Model.MemberToUpdate.PhoneNumber" readonly class="form-control" />
    </div>

    <div class="form-group">
        <label  class="control-label">Change membertype</label>
        <select asp-for="@Model.MemberToUpdate.TheMemberType" asp-items="Html.GetEnumSelectList<MemberType>()" class="form-control">
        </select>
    </div> 
    <div class="form-group">
        <label class="control-label">Change memberRole</label>
        <select  asp-for="@Model.MemberToUpdate.TheMemberRole" asp-items="Html.GetEnumSelectList<MemberRole>()" class="form-control">
        </select>
    </div>

    <div class="form-group">
        <input type="submit" value="Update a member" asp-page-handler="Update" class="btn btn-primary" />
        <input type="submit" value="Delete a member" asp-page-handler="Delete" class="btn btn-primary" />
    </div>
</form>