@page
@model RazorBoatApp2026F.Pages.Boats.DeleteBoatModel
@{
    ViewData["Title"] = "Delete boat";
}

<h1>Delete boat</h1>
<form method="post">
    <div class="form-group">
        <label>Boat id</label> : @Model.DeleteBoat.Id <br />
        <label>Boat sailnumber</label> : @Model.DeleteBoat.SailNumber <br />
        <label>Boat model</label> : @Model.DeleteBoat.Model <br />
        <label>Boat year of construction</label> : @Model.DeleteBoat.YearOfConstruction <br />

        <input type="submit" asp-page-handler="Delete" asp-route-SailNumber="@Model.DeleteBoat.SailNumber" class="btn btn-danger" value="Delete boat" />
        <input type="submit" value="Cancel" class="btn btn-warning" asp-page-handler="Cancel" />
    </div>
</form>